/*===========================Reset css===========================*/
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/*===========================Style general===========================*/

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*===========================Navbar===========================*/

.navlink-ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    margin: 0 50px;
}

.navlink-li a{
    color: black;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 550;
    white-space: nowrap;
    padding: 0 5px;
}

.navlink-li .navlink-active {
    color: blueviolet;
    border-top: 4px solid;
    padding-top: 20Px;
}

.language{
    background: rgb(197, 196, 196);
    border: 1px solid transparent;
    border-radius: 50px;
}

/*===========================main===========================*/
/*==========Section en-tete ==========*/
.main-header {
    background: url(./assets/img/bg.jpg) center/cover fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    overflow: hidden;
    padding-top: 100px;
}

.main-header button {
    background: transparent;
    color: white;
    border: solid 1px white;
    padding: 10px 20px 10px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header-text {
    font-size: 1.2rem;
    font-weight: 550;
    padding: 50px;
    text-align: center;
}

/*==========Section icon ==========*/

.icon-part-container {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 50px 100px;
}
.img-logo {
    margin-bottom: 20px ;
}

/*==========Section news=========*/

.news-part {
    background: rgb(233, 233, 233);
    padding: 50px 100px;
}
.header-news {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 10px;
    align-items: center;
}

.header-news-right button {
    padding: 10px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.main-news-container {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.news {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-news {
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 20px; 
    white-space: nowrap;
}
.link-news {
    margin: 20px 0;
}






